* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {

  height: 100%

}

/*Remove default blue box on input on focus*/
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}


/*Remove placeholder on focus*/
input:focus::placeholder {
  color: transparent;
}


 /* ---------------------- Login Page ---------------------------*/

.loginContainer {
  
  position: absolute;
  width:  300px;
  height: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}


#loginContainer > img {

	border:1px solid black;
}

#loginForm {

  padding:20px;

}

.center-links {

  display: flex;
  justify-content: space-between;
  
}

.center-links > a {

  padding-left: 0px;
  padding-right: 0px;

}


 
#loginForm input {
  border-radius: 0px;
}
  
#loginForm input:focus {
  
  border: 2px solid black;
}
  
  
  
 /* ---------------------- Register Page ---------------------------*/

.registerContainer {

	/*For easy view*/
	/*background-color:blue;
	border:1px solid black;*/

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
	width: 30px;


	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}



#registerForm {
	/*For easy view*/
	/*background-color:blue;
	border:1px solid black;*/
	
	border-radius: 10px;
	height: 100%;
	text-align: center;
}

.registerContainer img {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	width:30%;
 	height:30%;
 	margin-bottom: 20px;
}


#registerForm input {
	border-radius: 0px;
 }

 #registerForm input:focus {
  
	/*border: 2px solid rgb(66, 40, 211);*/

	border: 1px solid black;
 }


/*

#registerForm h1 {
	text-align: center;
	background-color: black;
	color:white;
	border-radius: 5px;
	width:100%;
	height:8vh;
	
}

.formContents{
	border:1px solid black;
	
}


#registerForm input {
	border-radius: 0px;
}

#registerForm  input:focus {
	
	border: 2px solid rgb(66, 40, 211);

}*/



/* ------------------Create Category ---------------*/

.categoryContainer {
  
  position: absolute;
  width:  300px;
  height: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

#categoryForm {

  padding:20px;

}

#categoryForm input {
  border-radius: 0px;
}
  
#categoryForm input:focus {
  
  border: 2px solid black;
}

.navbar{

	z-index: 1;

}


/* ---------Create Record ------------*/


.recordContainer {
  
  position: absolute;
  width: 60vw;
  height: 300px;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

#recordForm {

  padding:20px;

}

#recordForm input {
  border-radius: 0px;
}
  
#recordForm input:focus {
  
  border: 2px solid black;
}


.listRecordsContainer {



}

.whitespace{

  height: 6vh;

}

/* ------ Profile Page ------------*/


.profileContainer {

  margin-top:2vh;
  margin-bottom: 2vh


}

.footerBar {

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 4vh;
  background-color: #262626;
  margin-top: 20px;

}

/* -------- About Page ------------*/

.jumbotron {

  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.jumbotron button {

  width: 150px;
  background-color: black;
  border: 1px solid black;

}

.jumbotron button:hover{

  background-color: grey;
  border: 1px solid grey;
  color: black;

}



.image1{

  display: flex;
 /* align-items: center;*/
 /* justify-content: center;*/
  flex-direction: column;
  /*border: solid 1px black;*/
  /* border-top: 30px;*/
  padding-top: 30px;

}

.image2{

  display: flex;
  /*align-items: center;
  justify-content: center;*/
  flex-direction: column;
  /*border: solid 1px black;*/
  padding-top: 30px;

}

.jam {

  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  margin: auto;

}

.gim {

  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  margin: auto;
}

